@import 'nib/vendor'

@import 'nib/gradients'

vendor-prefixes = o ms moz webkit


javier = #E8E8E8
gris_oscuro = #444
nav_azul = #22BCE0
naranja = #DD4F24
gris_texto = #7A7A7A

@font-face {
	font-family: 'iconosJHCP';
	src:url('../fonts/icomoon.eot?nr9xpn');
	src:url('../fonts/icomoon.eot?#iefixnr9xpn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nr9xpn') format('woff'),
		url('../fonts/icomoon.ttf?nr9xpn') format('truetype'),
		url('../fonts/icomoon.svg?nr9xpn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a
	color naranja
body
	background: javier
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background: linear-gradient(top, black, white)
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	overflow hidden
	padding 0.5em
	position relative
	z-index 1

	.logo
		border-right 1px solid nav_azul
		float left
		width 60px
		
		img
			width 52px

	.titular
		margin 0 60px 0 70px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	.filtro
		color nav_azul
		font-size 14px
		font-weight bold
		font-style italic
		text-decoration none

		transition 1s background
		&:hover
			background orange
		
	.publicar
		background naranja
		color white
		float right
		font-style italic
		margin -5px 1em 0 0 
		padding 0.2em 0.5em
		text-decoration none
		text-shadow 1px 1px 0px black

		&:before
			display inline-block
			font-family iconosJHCP
			content "\e600"
			margin 0 2px 0 0 

	.usuario
		position absolute
		top 10px
		right 10px
		.avatar
			margin 0 1me 0 0
			position relative
			z-index 2
			img 
				width 50px
				border-radius 50%

		.flechita
			background naranja	
			color white
			display block
			padding 2px
			position absolute
			right 0
			top 15px
			text-align right	
			width 50%
			z-index 0

			&.after
				display inline-block
				margin 0 0 0 0.5em
				font-family iconosJHCP
				content "\e602"
				text-shadow 1px 1px 0px black 			
nav
	background nav_azul
	border-left 15px solid white
	position relative
	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		left 0
		position absolute
		top 0
		
	.menu
		height 40px
		line-heigth 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
	
		li 
			display inline-block	

			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

.posts
	padding 0.5em

	.post
		background white
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px rgba(black, 0.5)
		color gris_texto	
		margin-bottom 1em

		.descripcion
			color gris_texto	

			.detalles
				height 170px
				margin-left 130px

				.autor
					margin 0.5em 0 2em 0

				.fecha
					float right
					margin	0 1em 0 0

				.tag
					background nav_azul	
					border-radius 0.5em
					color white
					padding 0.2em 0.5em
					text-decoration none

				.titulo 
					color gris_oscuro
					font-size 18px
					font-style italic
					margin 0
					padding 0.5em 0.5em 0 0
				
			.imagen
				float left
				img
					height 130px
					vertical-align top
					width 120px	
		
		.acciones
			border-top 3px solid nav_azul
			padding 0.5em	
			overflow hidden

			.votos
				float left
				
				.down
				.up
					text-decoration none	

				.down
					color red
					&:before
						font-family "iconosJHCP"
						font-size 1.5em
						content "\e602"
						vertical-align bottom
				.up
					color green		
					&:before
						font-family "iconosJHCP"
						font-size 1.5em
						content "\e603"
						vertical-align bottom
				
					

			.datos			
				float right
				.comentario
					background gris_oscuro
					border-radius 3px
					color white		
					margin 0 1me 0 0 
					padding 2px 5px	
					text-decoration none

				.estrellita
					text-decoration none
					&:after
						font-family iconosJHCP
						color #E0D561
						content "\e601"

footer
	background naranja
	color rgba(white, 0.5)
	text-align center
	width 100%
	padding 1em 0

	h3
		font-size 14px
		font-weight normal

		strong
			display block
		.mejor
			&:before
			&:after
				content " - "	

@media screen and (min-width: 768px)
	header
		.titular
			.publicar
				padding-left 3em
				position relative

				&:before
					left 0
					font-size 2.5em
					position absolute
					top -10px

	.posts
		.post
			width 48%	
			vertical-align top
			display inline-block
			&:nth-child(odd) // even (Par)
				margin-right 2%
			

			
				

